<!DOCTYPE html>
<html>
  <head>
    <title>EnrichNailbar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if notice %>
    <div id="notice-wrapper">
      <p class="notice"><%= notice %></p>
    </div>
  <%elsif alert%>
    <div id="notice-wrapper">
      <p class="alert"><%= alert %></p>
    </div>
  <%end%>

  <nav id="navbar" class="">
    <div class="nav-wrapper">
      <!-- Navbar Logo -->
      <div class="logo">
        <!-- Logo Placeholder for Inlustration -->
        <a href="#home">SOIRÉE NAIL LOUNGE</a>
      </div>

      <!-- Navbar Links -->
      <ul id="menu">
        <li><a href="#home">Home</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>


  <!-- Menu Icon -->
  <div class="menuIcon">
    <span class="icon icon-bars"></span>
    <span class="icon icon-bars overlay"></span>
  </div>


  <div class="overlay-menu">
    <ul id="menu">
        <li><a href="#home">Home</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
  </div>
  <body>
    <%= yield %>
  </body>

  <script>
    // OnScroll style nav

    $(function() {
      var header = $("#navbar");
    
      $(window).scroll(function() {    
          var scroll = $(window).scrollTop();
          if (scroll >= 50) {
              header.addClass("scrolled");
          } else {
              header.removeClass("scrolled");
          }
      });
    });

    // Responsive Toggle Navigation =============================================
    let menuIcon = document.querySelector('.menuIcon');
    let nav = document.querySelector('.overlay-menu');

    menuIcon.addEventListener('click', () => {
        if (nav.style.transform != 'translateX(0%)') {
            nav.style.transform = 'translateX(0%)';
            nav.style.transition = 'transform 0.2s ease-out';
        } else { 
            nav.style.transform = 'translateX(-100%)';
            nav.style.transition = 'transform 0.2s ease-out';
        }
    });


    // Toggle Menu Icon ========================================
    let toggleIcon = document.querySelector('.menuIcon');

    toggleIcon.addEventListener('click', () => {
        if (toggleIcon.className != 'menuIcon toggle') {
            toggleIcon.className += ' toggle';
        } else {
            toggleIcon.className = 'menuIcon';
        }
    });
  </script>


</html>
