<!DOCTYPE html>
<html>
  <head>
    <title>Soiree Nail Bar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <% if notice %>
    <div id="notice-wrapper">
      <p class="notice"><%= notice %></p>
    </div>
  <%elsif alert%>
    <div id="notice-wrapper">
      <p class="alert"><%= alert %></p>
    </div>
  <%end%>

  <% if current_page?(root_path) %>
    <nav id="navbar" class="">
      <div class="nav-wrapper">
        <!-- Navbar Logo -->
        <div class="logo">
          <!-- Logo Placeholder for Inlustration -->
          <a href="<%= root_path %>">SOIRÉE NAIL BAR</a>
        </div>
        <!-- Navbar Links -->
        <ul id="menu">
          <li><a href="#home">Home</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
    <!-- Menu Icon -->
    <div class="menuIcon">
      <span class="icon icon-bars"></span>
      <span class="icon icon-bars overlay"></span>
    </div>
    <div class="overlay-menu">
      <ul id="menu">
          <li><a href="#home">Home</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
  <%else%>
    <nav id="navbar" class="second-nav">
      <div class="nav-wrapper">
        <!-- Navbar Logo -->
        <div class="logo">
          <!-- Logo Placeholder for Inlustration -->
          <a href="<%=root_path%>">SOIRÉE NAIL BAR</a>
        </div>
        <!-- Navbar Links -->
        <ul id="menu">
          <li><a href="<%= root_path %>">Home</a></li>
          <li><a href="<%= root_path %>#services">Services</a></li>
          <li><a href="<%= root_path %>#about">About</a></li>
          <li><a href="<%= root_path %>#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
    <!-- Menu Icon -->
    <div class="menuIcon">
      <span class="icon icon-bars"></span>
      <span class="icon icon-bars overlay"></span>
    </div>
    <div class="overlay-menu">
      <ul id="menu">
          <li><a href="<%= root_path %>#home">Home</a></li>
          <li><a href="<%= root_path %>#services">Services</a></li>
          <li><a href="<%= root_path %>#about">About</a></li>
          <li><a href="<%= root_path %>#contact">Contact</a></li>
        </ul>
    </div>
  <%end%>
  <body>
    <%= yield %>
  </body>

</html>
